.poppins-thin {
     font-family: "Poppins", serif;
     font-weight: 100;
     font-style: normal;
   }
   
   .poppins-extralight {
     font-family: "Poppins", serif;
     font-weight: 200;
     font-style: normal;
   }
   
   .poppins-light {
     font-family: "Poppins", serif;
     font-weight: 300;
     font-style: normal;
   }
   
   .poppins-regular {
     font-family: "Poppins", serif;
     font-weight: 400;
     font-style: normal;
   }
   
   .poppins-medium {
     font-family: "Poppins", serif;
     font-weight: 500;
     font-style: normal;
   }
   
   .poppins-semibold {
     font-family: "Poppins", serif;
     font-weight: 600;
     font-style: normal;
   }
   
   .poppins-bold {
     font-family: "Poppins", serif;
     font-weight: 700;
     font-style: normal;
   }
   
   .poppins-extrabold {
     font-family: "Poppins", serif;
     font-weight: 800;
     font-style: normal;
   }
   
   .poppins-black {
     font-family: "Poppins", serif;
     font-weight: 900;
     font-style: normal;
   }
   
   .poppins-thin-italic {
     font-family: "Poppins", serif;
     font-weight: 100;
     font-style: italic;
   }
   
   .poppins-extralight-italic {
     font-family: "Poppins", serif;
     font-weight: 200;
     font-style: italic;
   }
   
   .poppins-light-italic {
     font-family: "Poppins", serif;
     font-weight: 300;
     font-style: italic;
   }
   
   .poppins-regular-italic {
     font-family: "Poppins", serif;
     font-weight: 400;
     font-style: italic;
   }
   
   .poppins-medium-italic {
     font-family: "Poppins", serif;
     font-weight: 500;
     font-style: italic;
   }
   
   .poppins-semibold-italic {
     font-family: "Poppins", serif;
     font-weight: 600;
     font-style: italic;
   }
   
   .poppins-bold-italic {
     font-family: "Poppins", serif;
     font-weight: 700;
     font-style: italic;
   }
   
   .poppins-extrabold-italic {
     font-family: "Poppins", serif;
     font-weight: 800;
     font-style: italic;
   }
   
   .poppins-black-italic {
     font-family: "Poppins", serif;
     font-weight: 900;
     font-style: italic;
   }
   
   .img-responsive{
    height: 20rem;
}
.webimg{
     background: url(gymimg.jpg);
    -moz-background-size:cover ;    
     background-size: cover;
     height: 100vh;
     object-fit: cover;
     position: relative;
}
.webimg1{
     color: white(245, 38, 38);
     position: absolute;
     top: 30%;
     left: 50%;
     transform: translate(-50%,-50%);
}
.webimg1 h1{
     font-style: 2.4rem;
     text-align: center;
}
.webimg1 span{
     margin-left: 2.9rem;
     display: inline-block;
     margin-bottom: .4rem;
}
.form_code{
     text-align: center;
    
}
.form_code .post_code{
display: block;
width: 80%;
margin-left: auto;
margin-right: auto;
border-radius: 1.5rem;
padding: .6rem;
border: none;
outline: none;
}
.form_code button{
     display: inline-block;
     width: 40%;
     background-color: rgb(49, 171, 232);
     color: white;
     margin: 1rem auto 0rem;
     background-repeat: 1rem;    
     
}
/* plans-packages */

.package{
  margin-top: 1rem;
  width: 90%;
  margin-left: 1rem;
  margin-right: 1rem;
}
.package_list{
  float: left;
  margin-left: 20px;
  width: 33.10%;
}
.package_list{
  margin-left: 0%;
}
